tushare==1.4.21
numpy~=1.25.0
pandas~=2.0.3
mako~=1.2.4
fire
lark-oapi
flask~=3.0.3
pycryptodome
openpyxl
akshare~=1.17.94
requests~=2.32.3
python-dateutil~=2.9.0.post0
retrying==1.3.4
easyquotation~=0.7.7
python-dotenv~=1.2.1
chardet~=5.2.0

click~=8.1.7
backtrader~=1.9.78.123
matplotlib~=3.9.4
scipy~=1.13.1
hyperloglog~=0.0.14
pybitmap~=0.0.2
pypdf2~=3.0.1